.addToDoWrapper {
    justify-content: center;
    flex-direction: row;
}

#toDoInput {
    margin: 0px 10px;
}

.listWrapper {
    display: flex;
    justify-content: center;
}

.toDoList,
.doneList {
    width: 350px;
    margin: 20px 10px;
}

.toDoList:hover,
.doneList:hover {
    margin: 15px 10px 25px 10px;
    transition: 450ms;
    box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.2);
}